# Coq
*.d
*.vo
*.vio
*.vos
*.vok
*.glob
*.aux
.coq-native
Make*.coq
Make*.coq.conf

# OCaml
_build
benchmark/ocaml/mergesort_coq*
benchmark/ocaml/benchmark
benchmark/ocaml/benchmark_exp
benchmark/ocaml/test_stability

# Haskell
*.hi
*.o
benchmark/haskell/MergesortCoq*.hs
benchmark/haskell/Benchmark
benchmark/haskell/BenchmarkExp
benchmark/haskell/TestStability
